h1 {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 45px;
}

.headerDiv{
    text-align: center;
}

.box {
    box-shadow: 0 0 10px #001432;
  }
.boxDarkMode {
    box-shadow: 0 0 10px #ffebcd;
  }

.textCenter {
    text-align: center;
}

.centerCodeEditor {
    margin: auto;
    width: 50%;
}

.center {
    margin:auto;
    width: 0%;
}

.spaces{
    margin-bottom: 25px;
}

input{
    width: 300px;
    height: 25px;
}

.square {
    height: 50px;
    width: 50px;
    background-color: #7a7a7a;
    margin: 6px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
}

.squareDarkMode {
    background-color: #696969;
}

.inputDarkMode {
    background-color: #001432;
}

.machineDiv {
    display: flex;
    justify-content: center;
}

.triangle {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid #e6b44a;
    margin-bottom: 25px;
}

.buttonBottomMargin {
    margin-bottom: 25px;
}

.editorBottomMargin {
    margin-bottom: 25px;
}

.buttonSideMargin {
    margin-right: 5px;
}

.buttonBigSideMargin {
    margin-right: 20px;
}

.buttonGroup {
    display: flex;
    justify-content: center;
}

body {
    background-color: #ffebcd;
    color: #001432;
}

.darkMode {
    background-color: #001432;
    color: #ffebcd;
}

#darkModeButton {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

#credits {
    position: fixed;
    bottom: 0px;
    left: 0px;
    font-size: 12px;
}

.textGroup {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.buttonText {
    font-family: "Times New Roman", Times, serif;
}