h1 {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 45px;
}

.box {
    box-shadow: 0 0 10px #001432;
}
.boxDarkMode {
    box-shadow: 0 0 10px #ffebcd;
}

body {
    background-color: #ffebcd;
    color: #001432;
}
.darkMode {
    background-color: #001432;
    color: #ffebcd;
}

#darkModeButton {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

#credits {
    position: fixed;
    top: 0px;
    right: 0px;
    font-size: 12px;
}

.sectionHeader {
    font-size: 25px;
    font-weight: bold;
}

.infoText {
    font-family: 'Times New Roman', Times, serif;
}

span {
    display: inline-block;
    margin-bottom: 15px;
}

.tabbed {
    position: relative;
    left: 20px;
}

.parent {
    margin-bottom: 5px;
}

p {
    margin-bottom: 40px;
}